<% if user_signed_in? %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="height: 74px; background-color: lightgray;">
    <div class="container-fluid">
      <div class="picture-name-info">
        <% if current_page?(:controller => 'decks', :action => 'menu') %>
        <%= link_to "  ", "#" , class: "blank" %>
        <%= cl_image_tag current_user.photo.key, class: "avatar" %>
        <div class="name-beside-photo">
        <%= current_user.first_name %>
        </div>
        <% else %>
        <%= link_to " < ", 'javascript:history.back()', class: "nav-btn black-text"%>
        <% end %>
      </div>

      <% if current_page?(:controller => 'decks', :action => 'show') %>
       <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="nav-btn tips-btn d-none">?</button>

        <!-- Modal (tips popup) -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-tips">
            <div class="modal-content">
              <div class="modal-header">

                <h1 class="modal-title" id="exampleModalLabel">TIPS</h1>
              </div>

              <div class="modal-body">
                <h2><%= @deck.tips %></h2>
              </div>

              <div class="modal-footer">
                <button type="button" class="button-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div>
        <% if current_page?(:controller => 'decks', :action => 'menu') %>
        <%= link_to " ≡ ", 'javascript:history.back()', class: "nav-btn", style: "font-family: math; color: black;" %>
        <% else %>
          <%#= link_to " ≡ ", "/menu" , class: "nav-btn", style: "font-family: math; color: black;" %>
         <div data-bs-toggle="modal" data-bs-target="#exampleModal2" class="nav-btn">
          ≡
        </div>
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
          <div class="modal-dialog modal-tips modal-menu">
            <div class="modal-content">
              <div class="modal-header-menu">

              <h1 class="modal-title-menu" id="exampleModal2Label">MENU</h1>
                <div class="user-first-name">
                    <%= current_user.first_name %>
                  <div class="user-avatar">
                    <%= cl_image_tag current_user.photo.key, class: "avatar" %>
                  </div>
                </div>
              </div>

              <div class="modal-body-menu">
                <%= render "decks/menu" %>
              </div>

              <div class="modal-footer-menu" id="menu">
                <button type="button" class="close-button" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
