<style>
  body {
    background-image: url("https://res.cloudinary.com/ddpxdkwin/image/upload/v1693491864/Menu-background_ljsnhl.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
</style>

<div id="decks-title-container">
<h1 class="center mt-5 decks-title"><%= @decks.first.level.upcase %></h1>
</div>

<div class="easy-cards">
  <% @decks.each_with_index do |deck, index| %>
    <%= link_to deck.multiplayer? ? new_racetrack_path(deck) : deck_path(deck) do %>
      <%# link to , what appears, where %>
      <% if @completed_decks.include?(deck) %>
      <%# above logic can be reused if decks table adds a locked boolean %>
        <div class="unlock-card">
          <%= deck.name %>
        </div>
      <% elsif index == @next_playable_deck_index || deck.multiplayer? %>
        <div class="incomplete-card">
          <%= deck.name %>
        </div>
      <% else  %>
        <button class="incomplete-card lock-card" disabled>
          <%= deck.name %>
        </button>
      <% end %>
    <% end %>
  <% end %>
</div>
