<style>
  body {
    background-image: url("https://res.cloudinary.com/ddpxdkwin/image/upload/v1693491864/level-3-background_xn72cp.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
</style>


<div style="font-family: handjet;">
  <%# <h1 class="center my-5" id="levels-title">Levels</h1> %>
    <div class="justify-content-stretch levels-container">
        <div class="level-cards">
          <%= link_to decks_path(level: "beginner"), style: "text-decoration: none;" do %>
            <div class="level-card easy" style="border-style: solid; align-items:center; color: black">
              <div class="hide" style="padding: 20px"><img class="ruby-size-on-button" src="https://www.nicepng.com/png/full/749-7492440_ruby-on-rails-logo.png"></div>
              <h1>BEGINNER</h1>
              <div class="hide" style="padding: 20px"><img class="ruby-size-on-button" src="https://www.nicepng.com/png/full/749-7492440_ruby-on-rails-logo.png"></div>
            </div>
          <% end %>
          <%= link_to_if false, decks_path(level: "intermediate"), remote: true do %>
            <div class="level-card intermediate" style="border-style: solid; color: black; text-decoration: none; opacity: .4;">
              <div class="hide" style="padding: 20px"><img class="ruby-size-on-button" src="https://www.nicepng.com/png/full/749-7492440_ruby-on-rails-logo.png"></div>
              <h1>INTERMEDIATE</h1>
              <div class="hide" style="padding: 20px"><img class="ruby-size-on-button" src="https://www.nicepng.com/png/full/749-7492440_ruby-on-rails-logo.png"></div>
            </div>
          <% end %>
          <%= link_to_if false, decks_path(level: "advanced"), remote: true do %>
            <div class="level-card advanced" style="border-style: solid; color: black; text-decoration: none; opacity: .4;">
              <div class="hide" style="padding: 20px"><img class="ruby-size-on-button" src="https://www.nicepng.com/png/full/749-7492440_ruby-on-rails-logo.png"></div>
              <h1>ADVANCED</h1>
              <div class="hide" style="padding: 20px"><img class="ruby-size-on-button" src="https://www.nicepng.com/png/full/749-7492440_ruby-on-rails-logo.png"></div>
            </div>
          <% end %>
            <img class="sword-img" src="https://res.cloudinary.com/ddpxdkwin/image/upload/v1693947476/multiplayer_lij6sl.png" alt="">
            <div data-bs-toggle="modal" data-bs-target="#multiplayerModal" class="level-card multiplayer-button" style="border-style: double; border-width: 15px; align-items:center; color: black">
              <div class="hide" style="padding: 20px"><img class="ruby-size-on-button" src="https://res.cloudinary.com/ddpxdkwin/image/upload/v1693947476/multiplayer_lij6sl.png"></div>
              <h1>MULTIPLAYER</h1>
              <div class="hide" style="padding: 20px"><img class="ruby-size-on-button" src="https://res.cloudinary.com/ddpxdkwin/image/upload/v1693947476/multiplayer_lij6sl.png"></div>
            </div>

        <div class="modal fade" id="multiplayerModal" tabindex="-1" aria-labelledby="multiplayerModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-tips modal-menu">
            <div class="modal-content">
              <div class="modal-header-menu">

                <h1 class="modal-title-menu" id="multiplayerModalLabel">MULTIPLAYER</h1>

              </div>

              <div class="modal-body-menu p-2">

                <%= link_to decks_path(level: "multiplayer"), style: "text-decoration: none" do %>
                  <div class="level-card multiplayer-button" style="border-style: double; border-width: 3px; align-items:center; color: black">
                    <div class="hide" style="padding: 20px"><img class="ruby-size-on-button" src="https://res.cloudinary.com/ddpxdkwin/image/upload/v1693947476/multiplayer_lij6sl.png"></div>
                    <h1>Create a new game</h1>
                    <div class="hide" style="padding: 20px"><img class="ruby-size-on-button" src="https://res.cloudinary.com/ddpxdkwin/image/upload/v1693947476/multiplayer_lij6sl.png"></div>
                  </div>
                <% end %>

                <%= link_to racetracks_path, style: "text-decoration: none" do %>
                  <div class="level-card multiplayer-button" style="border-style: double; border-width: 3px; align-items:center; color: black">
                    <div class="hide" style="padding: 20px"><img class="ruby-size-on-button" src="https://res.cloudinary.com/ddpxdkwin/image/upload/v1693947476/multiplayer_lij6sl.png"></div>
                    <h1>Join a game</h1>
                    <div class="hide" style="padding: 20px"><img class="ruby-size-on-button" src="https://res.cloudinary.com/ddpxdkwin/image/upload/v1693947476/multiplayer_lij6sl.png"></div>
                  </div>
                <% end %>

              </div>

              <div class="modal-footer-menu" id="menu">
                <button type="button" class="close-button" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        </div>
    </div>



   <%# <%= render "decks/progress_bar_levels"  %>
