<div
  data-controller="game"
  data-game-deck-id-value="<%= @deck.id %>"
  data-game-racetrack-id-value="<%= params[:racetrack] %>"
  data-game-player-id-value="<%= current_user.id %>"
  data-game-opponent-id-value="<%= @opponent.id if @multiplayer %>"
>

  <div class="container">

    <div class="box-bigger">
        <h4 data-game-target="tipsHeader">TIPS</h4>
        <h4 data-game-target="deckHeader" class="d-none">#<%= @deck.name %>_DECK</h4>
        <div class="container-smaller">

          <div data-game-target="gameArea" style="font-family: handjet;">

            <div class="box-smaller">

              <div class="tips-card"
                data-game-target="tips"
                style="margin-top: -40px">
                <iframe src="https://giphy.com/embed/59ADeszMVpHgNBe7Ju" width="150" height="150" frameBorder="0" class="giphy-embed" style="margin-bottom: -20px" allowFullScreen></iframe>
                <h5><%= @deck.tips %></h5>
              </div>

              <button class="next" data-game-target="startButton" data-action="click->game#start">
                Next
              </button>
              <div data-game-target="questionContainer" class="question"></div>

              <div data-game-target="answerConfirmation" class="answer"></div>

              <%= render "question_and_answers_template" %>
              <%= render "congratulations_template" %>
              <%= render "loser_template" %>
              <%= render "winner_template" %>
            </div>
          </div>

          <div data-game-target="questionContainer" class="question"></div>

          <div data-game-target="answerConfirmation" class="answer"></div>
        <% if @multiplayer %>
        <%= render "decks/progress_bar_multiplayer", user: @opponent, opponent: true %>
        <% end %>
        <%= render "decks/progress_bar_levels", user: current_user, opponent: false %>

        </div>
