<style>
  body {
    background-image: url("https://res.cloudinary.com/ddpxdkwin/image/upload/v1693491864/narrow-home-page-background_eeuynk.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
</style>

<div class="container" data-controller="game" data-game-deck-id-value="<%= @deck.id %>">
  <div class="box-bigger">
    <h4>TIPS</h4>
  </div>

  <div class="container-smaller" class="content">
    <div data-game-target="gameArea">
      <div class="box-smaller">
        <h3>#<%= @deck.name %> Deck</h3>

        <div class="tips-card"
          data-game-target="tips">
          <h5><%= @deck.tips %></h5>
        </div>

        <button class="next" data-game-target="startButton" data-action="click->game#start">
          Next
        </button>

        <div data-game-target="questionContainer" class="question"></div>

        <div data-game-target="answerConfirmation" class="answer"></div>

        <%= render "question_and_answers_template" %>
        <%= render "congratulations_template" %>
      </div>
    </div>
  </div>
</div>

<div>tips div</div>
