<!DOCTYPE html>
<html>
  <head>
    <title>GameOfCodes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="importmap">
      {
        "imports": {
          "mustachejs": "https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.2.0/mustache.min.js"
        }
      }
    </script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" unless current_page?(root_path) && user_signed_in?%>
    <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
